*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 71px;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #333;
}

.hero-photo {
  background: url("../assets/images/hero_background_md.jpg") center/cover;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.6rem;
}

.underline {
  border: 2px solid #039dff;
  width: 60px;
  margin: 0 auto 40px;
}

.card {
  transition: color 0.25s linear;
  border: none;
  margin-bottom: 10px;
}
.card div {
  margin-bottom: 12px;
}
.card div i {
  margin: 20px 0 10px;
  font-size: 4rem;
}
.card .card-title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.card .card-text {
  font-size: 1.6rem;
}
.card:hover {
  color: #039dff;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Navbar */
nav {
  transition: background-color 0.5s;
}
nav.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}
nav .navbar-nav {
  align-items: center;
}
nav .navbar-nav .nav-link.active {
  color: #039dff;
}
nav .nav-link:focus, nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
nav .navbar-brand, nav .nav-link, nav .fa-bars {
  color: #fff;
  line-height: 1;
  padding: 10px;
}
nav .navbar-brand {
  font-size: 3rem;
}
nav .navbar-brand:hover {
  color: #fff;
}
nav .navbar-brand span {
  color: #039dff;
}
nav .nav-link, nav .navbar-toggler {
  font-size: 2rem;
}
nav .navbar-toggler {
  border: none;
  padding: 0;
}

/* Sekcja "Hero" */
.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-text {
  color: #fff;
  z-index: 1;
}
.hero .hero-text h1 {
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.hero .hero-text h1 span {
  color: #039dff;
}
.hero .hero-text p {
  font-size: 1.6rem;
}
.hero .hero-text a[href="#aboutus"] {
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
}
.hero .hero-text a[href="#aboutus"] .fa-arrow-down {
  color: #039dff;
  font-size: 2.4rem;
}
.hero .hero-text a[href="#aboutus"]:hover {
  color: #f8f9fa;
  background-color: rgba(248, 249, 250, 0.3);
}
.hero .fa-chevron-down {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 20px;
  color: #fff;
  font-size: 2.5rem;
}

/* Sekcja "What do we do" */
section.portfolio-info {
  background: url("../assets/images/processor_mq.jpg") center/cover;
  z-index: 0;
}
section.portfolio-info .card {
  background-color: transparent;
  color: #fff;
  margin-bottom: 30px;
}
section.portfolio-info .card .card-title {
  margin-bottom: 0;
}
section.portfolio-info .card div {
  margin-bottom: 10px;
}
section.portfolio-info .hero-shadow {
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .hero .hero-text h1 {
    font-size: 4.6rem;
  }
  .hero .hero-text p {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 992px) {
  .nav-link:not(.active) {
    position: relative;
  }
  .nav-link:not(.active)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #039dff;
    transition: left 0.3s, width 0.3s;
  }
  .nav-link:not(.active):hover::after {
    left: 0;
    width: 100%;
  }
  .hero-photo {
    background-image: url("../assets/images/hero_background_lg.jpg");
  }
  .hero .hero-text h1 {
    font-size: 50px;
  }
  .hero .hero-text p {
    font-size: 2.5rem;
  }
  section.portfolio-info {
    background-image: url("../assets/images/processor_hq.jpg");
  }
  section.portfolio-info .card {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */