*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 71px;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #ebecf2;
}

.hero-photo {
  background: url("../assets/images/hero_background_md.jpg") center/cover;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.6rem;
}

.underline {
  border: 2px solid #039dff;
  width: 60px;
  margin: 0 auto 40px;
}

.card {
  transition: color 0.25s linear;
  border: none;
  margin-bottom: 10px;
}
.card div {
  margin-bottom: 12px;
}
.card div i {
  margin: 20px 0 10px;
  font-size: 4rem;
}
.card .card-title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.card .card-text {
  font-size: 1.6rem;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-shadow.caption-shadow {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Navbar */
nav {
  transition: background-color 0.5s;
}
nav.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}
nav .navbar-nav {
  align-items: center;
}
nav .navbar-nav .nav-link {
  font-size: 2rem;
}
nav .navbar-nav .nav-link.active {
  color: #039dff;
}
nav .navbar-nav .nav-link:hover, nav .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.6);
}
nav .navbar-brand, nav .nav-link, nav .fa-bars {
  color: #fff;
  line-height: 1;
  padding: 10px;
}
nav .navbar-brand {
  font-size: 3rem;
}
nav .navbar-brand:hover {
  color: #fff;
}
nav .navbar-brand span {
  color: #039dff;
}
nav .navbar-toggler {
  border: none;
  padding: 0;
  font-size: 2rem;
}
nav .navbar-toggler:hover .line1 {
  transform: translateY(-4px);
}
nav .navbar-toggler:hover .line3 {
  transform: translateY(4px);
}
nav .navbar-toggler .line1, nav .navbar-toggler .line2, nav .navbar-toggler .line3 {
  margin: 6px 0;
  width: 30px;
  height: 4px;
  background-color: #f8f9fa;
  border-radius: 4px;
  transition: transform 0.2s linear;
}
nav .navbar-toggler .line1:first-child, nav .navbar-toggler .line2:first-child, nav .navbar-toggler .line3:first-child {
  margin-top: 0;
}
nav .navbar-toggler .line1:last-child, nav .navbar-toggler .line2:last-child, nav .navbar-toggler .line3:last-child {
  margin-bottom: 0;
}

/* Sekcja "Hero" */
.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-text {
  color: #fff;
  z-index: 1;
}
.hero .hero-text h1 {
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.hero .hero-text h1 span {
  color: #039dff;
}
.hero .hero-text p {
  font-size: 1.6rem;
}
.hero .hero-text a[href="#aboutus"] {
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
}
.hero .hero-text a[href="#aboutus"] .fa-arrow-down {
  color: #039dff;
  font-size: 2.4rem;
}
.hero .hero-text a[href="#aboutus"]:hover {
  color: #f8f9fa;
  background-color: rgba(248, 249, 250, 0.3);
}
.hero .fa-chevron-down {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 20px;
  color: #fff;
  font-size: 2.5rem;
}

/* Sekcja "About Us" */
section.about-us .card:hover {
  color: #039dff;
}

/* Sekcja "Portfolio-info" */
section.portfolio-info {
  background: url("../assets/images/processor_mq.jpg") center/cover;
  background-attachment: fixed;
  z-index: 0;
}
section.portfolio-info .card {
  background-color: transparent;
  color: #fff;
  margin-bottom: 30px;
}
section.portfolio-info .card .card-title {
  margin-bottom: 0;
}
section.portfolio-info .card div {
  margin-bottom: 10px;
}
section.portfolio-info .hero-shadow {
  z-index: -1;
}

/* Sekcja "Portfolio" */
section.portfolio .carousel-indicators {
  margin: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
section.portfolio .carousel-indicators [data-bs-target] {
  width: 40px;
  height: 6px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: #039dff;
  border-top: none;
}
section.portfolio .carousel-indicators [data-bs-target]:not(.active) {
  opacity: 0.3;
}
section.portfolio .carousel-item {
  height: 600px;
}
section.portfolio .carousel-caption {
  left: 0;
  right: 0;
  bottom: 2rem;
  padding: 3rem 0;
  z-index: 1;
}
section.portfolio .carousel-caption h5 {
  font-size: 4rem;
}
section.portfolio .carousel-caption p {
  font-size: 2rem;
}
section.portfolio .carousel-caption .hero-shadow {
  z-index: -1;
}
section.portfolio .carousel-control-prev-icon,
section.portfolio .carousel-control-next-icon {
  width: 30px;
  height: 30px;
}
section.portfolio .carousel-control-prev-icon.carousel-control-prev-icon,
section.portfolio .carousel-control-next-icon.carousel-control-prev-icon {
  background-image: url("../assets/images/chevron-left-solid.svg");
}
section.portfolio .carousel-control-prev-icon.carousel-control-next-icon,
section.portfolio .carousel-control-next-icon.carousel-control-next-icon {
  background-image: url("../assets/images/chevron-right-solid.svg");
}

/* Sekcja "Prices" */
section.prices .card {
  font-weight: 600;
  margin: 10px 10px 30px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}
section.prices .card:hover {
  transform: scale(1.05);
}
section.prices .card .card-header {
  margin: 12px 12px 0;
  padding: 0;
}
section.prices .card .card-header .card-title {
  margin: 12px 0;
  color: #039dff;
}
section.prices .card .card-body {
  margin: 0 12px 24px;
}
section.prices .card .card-body li {
  margin: 12px 0;
  font-size: 1.4rem;
}
section.prices .card .card-body li:first-child {
  margin-top: 0;
}
section.prices .card .card-body li span {
  font-weight: 700;
}
section.prices .card .card-body li i {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 2.4rem;
}
section.prices .card .card-body li.price-tag {
  font-size: 4rem;
  font-weight: 700;
}
section.prices .card .card-body button {
  padding: 8px 16px;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
}
section.prices p {
  font-size: 1.4rem;
}

/* Sekcja "Team" */
section.team {
  background: url("../assets/images/office-room-mq.jpg") center/cover;
  background-attachment: fixed;
  z-index: 0;
}
section.team .card .card-header {
  line-height: 1;
}
section.team .card .card-header .underline {
  border: 1px solid #039dff;
  margin: 2px auto;
}
section.team .card img.card-img-top {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.team .card .card-footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}
section.team .card .card-footer i.fa-brands {
  margin: 0;
  font-size: 3rem;
  padding: 16px;
}
section.team .card .card-footer i.fa-brands.fa-facebook-f {
  color: #3b5998;
}
section.team .card .card-footer i.fa-brands.fa-twitter {
  color: #1da1f2;
}
section.team .card .card-footer i.fa-brands.fa-linkedin {
  color: #3b5998;
}
section.team .hero-shadow {
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .hero .hero-text h1 {
    font-size: 4.6rem;
  }
  .hero .hero-text p {
    font-size: 2.3rem;
  }
  section.team .card {
    transition: transform 0.3s ease-in-out;
  }
  section.team .card:hover {
    transform: scale(0.95);
  }
  section.team .card img.card-img-top {
    height: 300px;
  }
  section.team .card .card-footer i.fa-brands {
    font-size: 2rem;
    padding: 10px;
  }
}
@media screen and (min-width: 992px) {
  .nav-link:not(.active) {
    position: relative;
  }
  .nav-link:not(.active)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #039dff;
    transition: left 0.3s, width 0.3s;
  }
  .nav-link:not(.active):hover::after {
    left: 0;
    width: 100%;
  }
  .hero-photo {
    background-image: url("../assets/images/hero_background_lg.jpg");
  }
  .hero .hero-text h1 {
    font-size: 50px;
  }
  .hero .hero-text p {
    font-size: 2.5rem;
  }
  section.portfolio-info {
    background-image: url("../assets/images/processor_hq.jpg");
  }
  section.portfolio-info .card {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */