@use './colors.scss' as colors;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 71px;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #333;
}

.hero-photo {
  background: url("../assets/images/hero_background_md.jpg") center / cover;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.6rem;
}

.underline {
  border: 2px solid colors.$primary-color;
  width: 60px;
  margin: 0 auto 40px;
}

.card {
  border: none;
}

/* Navbar */

nav {
  transition: background-color .5s;

  &.shadow-bg {
    background-color: rgba(0, 0, 0, .8);
  }

  .navbar-nav {
    align-items: center;

    .nav-link.active {
      color: colors.$primary-color;
    }
  }

  .nav-link:focus, .nav-link:hover {
    color: colors.$navbar-hover-color;
  }

  .navbar-brand, .nav-link, .fa-bars {
    color: colors.$white;
    line-height: 1;
    padding: 10px;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .navbar-brand:hover {
    color: colors.$white;
  }

  .navbar-brand span {
    color: colors.$primary-color;
  }

  .nav-link, .navbar-toggler {
    font-size: 2rem;
  }
  
  .navbar-toggler {
    border: none;
    padding: 0;
  }
}

/* Sekcja "Hero" */

.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-text {
    color: colors.$white;
    z-index: 1;

    h1 {
      font-size: 3.2rem;
      font-weight: 400;
      text-transform: uppercase;

      span {
        color: colors.$primary-color;
      }
    }

    p {
      font-size: 1.6rem;
    }

    a[href="#aboutus"] {
      font-size: 1.6rem;
      display: inline-flex;
      align-items: center;
      
      .fa-arrow-down {
        color: colors.$primary-color;
        font-size: 2.4rem;
      }
      &:hover {
        color: colors.$light;
        background-color: colors.$button-hover-color;
      }
    }
  }

  .hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$hero-shadow;
  }

  .fa-chevron-down {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 20px;
    color: colors.$white;
    font-size: 2.5rem;
  }
}

/* Sekcja "About us" */

section.about-us {
  .card {
    transition: color .25s linear;
  }

  .card:hover {
    color: colors.$primary-color;
  }

  i {
    margin: 20px 0 10px;
    font-size: 4rem;
  }

  .card > div {
    margin-bottom: 12px;
  }

  .card-title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .card-text {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .hero .hero-text {
    h1 {
      font-size: 4.6rem;
    }
    p {
      font-size: 2.3rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .nav-link:not(.active) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: colors.$primary-color;
      transition: left .3s, width .3s;
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;        
      }
    }    
  }
  
  .hero-photo {
    background-image: url("../assets/images/hero_background_lg.jpg");
  }

  .hero .hero-text {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 2.5rem;
    }
  }    
}