@use './colors.scss' as colors;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 71px;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: colors.$bgColor;
}

.hero-photo {
  background: url("../assets/images/hero_background_md.jpg") center / cover;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.6rem;
}

.underline {
  border: 2px solid colors.$primary-color;
  width: 60px;
  margin: 0 auto 40px;
}

.card {
  transition: color .25s linear;
  border: none;
  margin-bottom: 10px;

  div {
    margin-bottom: 12px;

    i {
      margin: 20px 0 10px;
      font-size: 4rem;
    }     
  }
  .card-title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .card-text {
    font-size: 1.6rem;
  }    
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$hero-shadow;

  &.caption-shadow {
    background-color: colors.$caption-shadow;
  }
}

/* Navbar */

nav {
  transition: background-color .5s;

  &.shadow-bg {
    background-color: rgba(0, 0, 0, .8);
  }

  .navbar-nav {
    align-items: center;

    .nav-link {
      font-size: 2rem;

      &.active {
        color: colors.$primary-color;
      }

      &:hover,
      &:focus {
        color: colors.$navbar-hover-color;
      }
    }
  }

  .navbar-brand, .nav-link, .fa-bars {
    color: colors.$white;
    line-height: 1;
    padding: 10px;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .navbar-brand:hover {
    color: colors.$white;
  }

  .navbar-brand span {
    color: colors.$primary-color;
  }
  
  .navbar-toggler {
    border: none;
    padding: 0;
    font-size: 2rem;

    &:hover {
      .line1 {
        transform: translateY(-4px);
      }
      .line3 {
        transform: translateY(4px);
      }
    }

    .line1, .line2, .line3 {
      margin: 6px 0;
      width: 30px;
      height: 4px;
      background-color: colors.$light;
      border-radius: 4px;
      transition: transform .2s linear;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* Sekcja "Hero" */

.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-text {
    color: colors.$white;
    z-index: 1;

    h1 {
      font-size: 3.2rem;
      font-weight: 400;
      text-transform: uppercase;

      span {
        color: colors.$primary-color;
      }
    }

    p {
      font-size: 1.6rem;
    }

    a[href="#aboutus"] {
      font-size: 1.6rem;
      display: inline-flex;
      align-items: center;
      
      .fa-arrow-down {
        color: colors.$primary-color;
        font-size: 2.4rem;
      }
      &:hover {
        color: colors.$light;
        background-color: colors.$button-hover-color;
      }
    }
  }

  .fa-chevron-down {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 20px;
    color: colors.$white;
    font-size: 2.5rem;
  }
}

/* Sekcja "About Us" */
section.about-us {
  .card {
    &:hover {
      color: colors.$primary-color;
    }
  }
}

/* Sekcja "Portfolio-info" */

section.portfolio-info {
  background: url("../assets/images/processor_mq.jpg") center / cover;
  background-attachment: fixed;
  z-index: 0;

  .card {
    background-color: transparent;
    color: colors.$white;
    margin-bottom: 30px;

    .card-title {
      margin-bottom: 0;
    }

    div {
      margin-bottom: 10px;
    }
  }

  .hero-shadow {
    z-index: -1;
  }
}

/* Sekcja "Portfolio" */

section.portfolio {
  .carousel-indicators {
    margin: 0;
    margin-bottom: 2rem;
    padding-bottom: 1rem;

    [data-bs-target] {
      width: 40px;
      height: 6px;
      margin-left: 6px;
      margin-right: 6px;
      background-color: colors.$primary-color;
      border-top: none;

      
      &:not(.active) {
        opacity: .3;
      }      
    }
  }

  .carousel-item {
    height: 600px;
  }

  .carousel-caption {
    left: 0;
    right: 0;
    bottom: 2rem;
    padding: 3rem 0;
    z-index: 1;

    h5 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
    }

    .hero-shadow {
      z-index: -1;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 30px;
    height: 30px;

    &.carousel-control-prev-icon {
      background-image: url("../assets/images/chevron-left-solid.svg");
    }
    &.carousel-control-next-icon {
      background-image: url("../assets/images/chevron-right-solid.svg");
    }
  }
}

/* Sekcja "Prices" */
section.prices {
  .card {
    font-weight: 600;
    margin: 10px 10px 30px;
    box-shadow: 4px 4px 4px 4px colors.$hero-shadow;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .card-header {
      margin: 12px 12px 0;
      padding: 0;

      .card-title {
        margin: 12px 0;
        color: colors.$primary-color;
      }
    }

    .card-body {
      margin: 0 12px 24px;

      li {
        margin: 12px 0;
        font-size: 1.4rem;

        &:first-child {
          margin-top: 0;
        }

        span {
          font-weight: 700;
        }

        i {
          margin-left: 4px;
          margin-right: 4px;
          font-size: 2.4rem;
        }

        &.price-tag {
          font-size: 4rem;
          font-weight: 700;
        }
      }

      button {
        padding: 8px 16px;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
  }

  p {
    font-size: 1.4rem;
  }
}

/* Sekcja "Team" */
section.team {
  background: url("../assets/images/office-room-mq.jpg") center / cover;
  background-attachment: fixed;
  z-index: 0;

  .card {
    .card-header {
      line-height: 1;

      .underline {
        border: 1px solid colors.$primary-color;
        margin: 2px auto;
      }
    }

    img.card-img-top {
      height: 300px;
      object-fit: cover;
    }

    .card-body {
      height: 80px;
    }

    .card-footer {
      display: flex;
      justify-content: space-around;
      margin-bottom: 0;
      
      i.fa-brands {
        margin: 0;
        font-size: 2rem;
        padding: 10px;
        
        &.fa-facebook-f {
          color: #3b5998;
        }
        &.fa-twitter {
          color: #1da1f2;
        }
        &.fa-linkedin {
          color: #3b5998;
        }
      }
    }    
  }
  .hero-shadow {
    z-index: -1;
  }
}

@media screen and (min-width: 576px) {
  section.team {
    .card {
      .card-body {
        height: 100px;
      }
      .card-footer i.fa-brands {
        font-size: 2rem;
        padding: 16px;
      } 
    }
  }
}

@media screen and (min-width: 768px) {
  .hero .hero-text {
    h1 {
      font-size: 4.6rem;
    }
    p {
      font-size: 2.3rem;
    }
  }

  section.team {
    .card {
      transition: transform .3s ease-in-out;

      &:hover {
        transform: scale(0.95);
      }
      
      img.card-img-top {
        height: 400px;
      }     
    }
  }
}

@media screen and (min-width: 992px) {
  .nav-link:not(.active) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: colors.$primary-color;
      transition: left .3s, width .3s;
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;        
      }
    }    
  }
  
  .hero-photo {
    background-image: url("../assets/images/hero_background_lg.jpg");
  }

  .hero .hero-text {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 2.5rem;
    }
  }
  
  section.portfolio-info {
    background-image: url("../assets/images/processor_hq.jpg");

    .card {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {

}